<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo ion-padding">

  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="rnombre" label="Nombre" labelPlacement="floating" placeholder="Nombre"></ion-input>
  </ion-item>

  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="rusuario" label="Usuario" labelPlacement="floating" placeholder="Usuario"></ion-input>
  </ion-item>

  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="rpass" type="password" label="Contraseña" labelPlacement="floating" placeholder="Password"></ion-input>
  </ion-item>

  <ion-button expand="block" class="degradado ion-margin-top button" (click)="registrar()"> Registrar </ion-button>
  

</ion-content>
